---
import BaseLayout from '../../layouts/BaseLayout.astro';
import EmoniclePreview from '../../components/EmoniclePreview.astro';
import Pagination from '../../components/Pagination.astro';
import { getCollection } from 'astro:content';
import { filterPublishedEmonicles, sortEmoniclesByDate } from '../../utils/posts';

export async function getStaticPaths({ paginate }) {
  const posts = await getCollection('emonicle');
  const publishedPosts = filterPublishedEmonicles(posts);
  const sortedPosts = sortEmoniclesByDate(publishedPosts);

  return paginate(sortedPosts, { pageSize: 10 });
}

const { page } = Astro.props;
---

<BaseLayout title="Emonicle Posts">
  <h1 class="text-4xl font-bold mb-4 text-gray-900 dark:text-white">Emonicle</h1>
  <p class="text-xl mb-8 text-gray-600 dark:text-gray-300">emonicleはemotionとchronicleを合わせた造語です<br>そのときに感じた、ありのままの感情を書き留める場所です</p>
  <section>
    {page.data.map((post) => <EmoniclePreview post={post} />)}
  </section>
  <Pagination
    currentPage={page.currentPage}
    totalPages={page.lastPage}
    baseUrl="/emonicle/"
  />
</BaseLayout>