---
interface Props {
  url: string;
  title: string;
}

const { url, title } = Astro.props;

// タイトルを30文字に切り詰め
const truncatedTitle = title && title.length > 30 ? title.slice(0, 30) + '...' : (title || '');
---

<div
  class="hatena-star-container my-4"
  data-hatena-star-container
  data-hatena-star-url={url}
  data-hatena-star-title={truncatedTitle}
  data-hatena-star-variant="profile-icon">
</div>

<script type="text/javascript" src="https://s.hatena.ne.jp/js/widget/star.js"></script>
