---
// このコンポーネントは、自分自身で完結するため、Propsは不要です。
---
<div id="hatena-star-entry-container" class="my-4"></div>

<script type="text/javascript" src="https://s.hatena.ne.jp/js/HatenaStar.js" charset="utf-8"></script>
<script define:vars={{
    pageUri: '.post-url',
    pageTitle: 'h1',
    containerSelector: '#hatena-star-entry-container'
  }}
>
  document.addEventListener('DOMContentLoaded', () => {
    if (typeof Hatena !== 'undefined' && Hatena.Star) {
      Hatena.Star.SiteConfig = {
        entryNodes: {
          'article': {
            uri: pageUri,
            title: pageTitle,
            container: containerSelector,
          }
        }
      };
    }
  });
</script>