---
import ThemeToggle from './ThemeToggle.astro';
import { siteConfig } from '../config';
import Search from './Search.astro';

const navItems = [
  { href: '/diary', text: 'Diary' },
  { href: '/blog', text: 'Blog' },
  { href: '/podcasts', text: 'Podcast' },
  { href: '/profile', text: 'Profile' },
];
---

<header class="pt-6 sticky top-0 bg-white dark:bg-gray-900 z-50">
  <nav class="flex justify-between items-center flex-wrap">
    <a href="/" class="flex items-center gap-2 text-2xl font-bold text-gray-900 dark:text-white">
      <img src="/favicon.png" alt="Site Icon" class="w-10 h-10" />
      { siteConfig.title }
    </a>
    <div class="flex items-center gap-6">
      <ul class="flex gap-6">
        {navItems.map(({ href, text }) => (
          <li>
            <a
              href={href}
              class="text-gray-700 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white"
            >
              {text}
            </a>
          </li>
        ))}
      </ul>
      {siteConfig.search && <Search />}
      <ThemeToggle />
    </div>
  </nav>
</header>
